* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --full-background : #1A1D23;
  --title : #f8f8f8;
  --subtitle : #d7d7d7;
  --details : #bbbbbb;
  --highlight : #ff57b2;

}

@media(max-width: 1080px){
  html {
    font-size: 93.75%;
  }
}
@media(max-width: 720px){
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--full-background);
}

body , input , select , textarea, button  {
  font-weight: 400 1rem "Inter", sans-serif;
}

h1, p , span{
  font-family: "Inter";
}

// TODO
