.homeContent {
  height: 140px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;


  text-decoration: none;
  cursor: pointer;

  & + a {
    margin-top: 3rem;
  }
  h1 {
    font-weight: bold;
    font-size: 24px;
    font-weight: 700;
  }
}
.homeFooter {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  padding : 2rem 2rem;
  border:0;
  cursor:pointer;
  background: transparent;

  text-decoration: none;
  color: var(--highlight);
  font-size: 18px;
  font-weight: 600;
  transition: filter 0.3s;

  &:hover {
    text-decoration: underline;
    filter: brightness(0.7);
  }
}

